<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.mysecurity.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangyu.mysecurity.entity.MenuEntity">
        <id column="m_id" property="mId" />
        <result column="m_name" property="mName" />
        <result column="m_url" property="mUrl" />
        <result column="m_parentId" property="mParentid" />
        <result column="m_needPermission" property="mNeedpermission" />
        <result column="m_delete" property="mDelete" />
    </resultMap>

    <resultMap id="Result_MenuTree" type="com.wangyu.mysecurity.bean.MenuTree" extends="BaseResultMap">
        <collection property="children" ofType="com.wangyu.mysecurity.bean.MenuTree">
            <id column="m_id2" property="mId" />
            <result column="m_name2" property="mName" />
            <result column="m_url2" property="mUrl" />
            <result column="m_parentId2" property="mParentid" />
            <result column="m_needPermission2" property="mNeedpermission" />
            <result column="m_delete2" property="mDelete" />
        </collection>
    </resultMap>

    <!--查询用户的树形菜单-->
    <select id="selectMenuTree" resultMap="Result_MenuTree">
        SELECT
            m.m_id,
            m.m_name,
            m.m_url,
            m.m_parentId,
            m.m_needPermission,
            m.m_delete,
            m2.m_id m_id2,
            m2.m_name m_name2,
            m2.m_url m_url2,
            m2.m_parentId m_parentId2,
            m2.m_needPermission m_needPermission2,
            m2.m_delete m_delete2
        from menu m
                 INNER JOIN menu m2 on m.m_id=m2.m_parentId
        where m.m_delete=TRUE and m2.m_delete=TRUE
          and m2.m_id in(
            select m.m_id from menu m
           LEFT JOIN role_menu rm on m.m_id=rm.m_id
           LEFT JOIN account_role ar on ar.r_id=rm.r_id
            where ar.a_id=#{id}
              and m.m_delete=TRUE
        )
    </select>

</mapper>
